{% extends 'bhanuhastakalaapp/products.html' %}
{% block contents %}
{% load static %}

<div class="col-md-12">
            <div class="filters-content">
                {% for b in bed_list %}
                    <div class="row grid">

                      {% for p in b.product_set.all %}
                        <div class="col-lg-4 col-md-4 all des">
                          <div class="product-item">
                            <a href="{% url 'BhanuHastakalaApp:product-details' p.slug %}"><img src="{{ p.image.url }}" alt=""></a>
                            <div class="down-content">
                              <a href="{% url 'BhanuHastakalaApp:product-details' p.slug %}"><h4>{{p.title}}[BHK {{p.id}}]</h4></a>
                              <h6><strike>RS.{{p.market_price}}</strike></h6>
                              <h5>Rs.<h7>{{p.selling_price}}</h7></h5><br>
                              <p>{{p.description}}</p>
                              <br>
                                <span>Reviews {{p.review_count}}</span>


                            </div>
                          </div>
                        </div>
                        {% endfor %}
                        </div>
                  {% endfor %}

            </div>
          </div>



<!-- <div class="col-md-12">-->
<!--            <ul class="pages">-->
<!--                {% if bed_list.has_previous %}-->
<!--                <li class="page-item"><a class="page-link" href="?page={{ bed_list.previous_page_number }}">Pr</a></li>-->
<!--                {% else %}-->
<!--                <li class = "page-item disable"><a class="page-link" href="" tabindex="-1">Pr</a></li>-->
<!--                {% endif %}-->
<!--                    {% for i in bed_list.paginator.page_range %}-->
<!--                    {% if i == bed_list.number %}-->

<!--                <li class="page-item active"><a class="page-link">{{i}}</a></li>-->
<!--                {% else %}-->
<!--                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>-->
<!--                {% endif %}-->
<!--                {% endfor %}-->

<!--            {% if bed_list.has_next %}-->
<!--                <li class="page-item"><a class="page-link" href="?page={{ bed_list.next_page_number }}">Next</a></li>-->
<!--                {% else %}-->
<!--                 <li class="page-item  "><a class="page-link" href="" tabindex="+1">Next</a></li>-->

<!--            {% endif %}-->
<!--            </ul>-->
<!--          </div>-->


{% endblock %}





