{% extends "includes/base.html" %}
{% block content %}
{% load static %}


    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>new arrivals</h4>
              <h2>sixteen products</h2>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li class="active" data-filter="*"><a href="{%url 'BhanuHastakalaApp:all-product' %}">All Products</a></li>
                  <li data-filter=".des"><a href="{%url 'BhanuHastakalaApp:bed' %}">Bed</a></li>
                  <li data-filter=".dev"><a href="{% url 'BhanuHastakalaApp:Dinning-table' %}">Dinning Table/Table</a></li>
                  <li data-filter=".gra"><a href="{% url 'BhanuHastakalaApp:sofa' %}">Sofa</a></li>
                  <li data-filter=".gra"><a href="{% url 'BhanuHastakalaApp:cup' %}">cupboard</a></li>

              </ul>
            </div>
          </div>

                {% block contents %}



                {% endblock %}










        </div>
      </div>
    </div>







{% endblock %}